/* Estilos Generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f6f9;
    color: #333;
}
/* Encabezado (Header) */
header {
    width: auto;
    background-color: #4695ba;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Logo */
.logo {
    width: 100px;
    height: 50px;
    background-color: #84dde0;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Menú de navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
/* Elementos del menú */
nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


nav ul li a:hover {
    background-color: #82bfc5;
}

.teacherlog {
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: transform 0.1s ease; /* Suaviza la transición */
    width: 35px;
    height: auto; /* Tamaño del icono*/
    
    
}

.teacherlog:active{
    transform: scale(0.95); /* Simula el "clic" reduciendo el tamaño un poco */
}


/* Dropdown para la sección "Nosotros" */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffffc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}
    
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
/* Sección de Avisos */
.avisos {
    width: auto;
    height: 125px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #588786;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*Pie de página*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;  

}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}